/* ==UserStyle==
@name           DuckDuckGo Lorem Picsum
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Displays a random stylish image as a background for DuckDuckGo
@author         markonius
==/UserStyle== */

@-moz-document domain("start.duckduckgo.com") {
body {
	background-color: #222 !important;
}

.content-wrap--home {
	top: 0;
	height: calc(100% - 64px);
}

@keyframes fadeIn {
   0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes scaleUp {
   0% {transform: scale(1, 1);}
	100% {transform: scale(1.1, 1.1);}
}

@keyframes scaleDown {
   0% {transform: scale(1.1, 1.1);}
	100% {transform: scale(1, 1);}
}

.header-wrap--home {
	height: 100vh !important;
	background-image: url("https://picsum.photos/1920/1080") !important;
	background-position: top right !important;
	background-size: cover;
	filter: blur(16px) brightness(0.5);
	transition: filter 1s, transform 1s;

	animation: fadeIn 5s ease-out 0.5s 1 normal both, scaleUp 20s ease 0s 1 normal both;
}

.header-wrap--home:hover {
	filter: unset;
	transform: scale(1, 1) !important;
	animation: fadeIn 5s ease-out 0.5s 1 normal both;
}

.header-wrap--home:hover + .content-wrap--home #content_homepage {
	opacity: 0;
	margin-top: -50vh;
}

#search_form_homepage {
	background-color: #2222;
}

.search__autocomplete{
	background-color: #6663;
}
.acp-wrap {
	background: transparent;
}
.acp {
	transition: background 150ms ease-out;
}
.acp--highlight {
	background-color: #fff2;
}

.search__button {
	transition: background 200ms ease-out, color 200ms ease-out;
}
.search__button:hover, .search__button:focus, .search--hover .search__button, .search--hover .search__button:focus, .search--header.has-text.search--hover .search__button, .search--header.has-text.search--focus .search__button, .search--header.has-text.search--hover .search__button:hover, .search--header.has-text.search--focus .search__button:hover, .search--home.has-text .search__button, .search--home.has-text .search__button:focus, .search--home.has-text .search__button:hover {
	background-color: #5b9e4d;
}

#content_homepage {
	height: calc(100%) !important;
	transition: opacity 1s ease, margin-top 1s ease;
}
.cw--c {
	height: 100% !important;
}

.logo-wrap--home {
	position: relative;
	top: calc(50% - 184px);
}

.search-wrap--home {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: calc(50% + 16px);
}

.tag-home {
	position: absolute !important;
	bottom: -64px;
	left: 0;
	right: 0;
	margin: auto;
	width: 400px;
}

.tag-home__item {
	height: 100px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.header--aside {
	top: unset;
	bottom: 6px;
}

.header--aside__item {
	display: none !important;
}
}