/* @namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); */

/*
Original layout by /u/Herkt https://www.reddit.com/r/FirefoxCSS/comments/7eazix/my_attempt_at_a_oneline_interface/
Use with compact density
 */

:root {
	--highlight: #e44742;
	--highlight-low: #e4474260;
	--title-buttons-offset: -34px !important; /* Change this value to 0 if on Windows */
}

:root[privatebrowsingmode="temporary"] {
	--highlight: #931be4;
	--highlight-low: #931be460;
}

:root:-moz-window-inactive {
	--highlight: #808080;
	--highlight-low: #80808060;
}

* {
	font-family: "Ubuntu Light", tahoma, arial, helvetica, sans-serif;
	font-weight: lighter;
}

#TabsToolbar .tabbrowser-tab *
{
	transition: all 350ms var(--animation-easing-function) !important;
}

#navigator-toolbox #TabsToolbar #tabbrowser-tabs {
	transition: none !important;
}

/* Shrink tab bar */
#tabbrowser-tabs,
#tabbrowser-arrowscrollbox,
#tabbrowser-tab,
.tab-stack,
.tab-content,
.tab-background {
	height: 32px !important;
	min-height: 32px !important;
	margin-bottom: 0 !important;
}

.titlebar-buttonbox-container {
	width: 128px;
}

/*changes "flash" on tab open color*/
#browser vbox#appcontent tabbrowser,
#content,
#tabbrowser-tabpanels,
browser[type=content-primary],
browser[type=content] > html
{
	background: #444 !important;
	background-color: #444 !important;
	color: #444 !important;
}

/* Move Tab-bar beside Nav-bar */
#TabsToolbar {
	margin-bottom: 0px !important;                /* not needed anymore? */
	margin-top: 0px !important;                   /*  */
	margin-left: calc(20vw - 24px) !important;
	margin-right: var(--title-buttons-offset);
	max-height: 32px !important;
}

#navigator-toolbox {
	position: relative !important;
	box-shadow: 0 10px 20px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
	z-index: 1000 !important;
}

#navigator-toolbox,
#TabsToolbar {
	background: #363636 !important;
}

#navigator-toolbox #nav-bar {
	min-width: 20vw !important;
	margin-bottom: -1px !important;               /* remove navbar bottom 1px border */
	margin-top: -32px !important;
	margin-right: 80vw !important;
	border-top: none !important;
	z-index: 1000 !important;
	background: #414141 !important;
	box-shadow: none !important;
	transition: margin-right 350ms var(--animation-easing-function),
		margin-left 350ms var(--animation-easing-function),
		padding-left 350ms var(--animation-easing-function),
		box-shadow 350ms var(--animation-easing-function) !important;
	transition-delay: 0.5s !important;
	margin-left: -56px;
	padding-right: 8px !important;
	border-radius: 16px;
	border-right: 4px solid #414141!important;
}

#navigator-toolbox #nav-bar:hover {
	margin-right: 40vw !important;
	margin-left: -32px !important;
	padding-left: 32px !important;
	box-shadow: 0 10px 20px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
	transition: all 350ms var(--animation-easing-function) !important;
	transition-delay: 0.1s !important;
}

:root:not([customizing]) #navigator-toolbox #nav-bar:focus-within {
	margin-right: 40vw !important;
	box-shadow: 0 10px 20px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
	transition-delay: 0.5s !important;
	margin-left: 0;
}

#urlbar-container, #search-container {
	padding: 1px 16px 0 16px !important;
}

#urlbar {
	background-color: transparent !important;  /* Transparent URL Bar */
	border-style: none !important;
	margin-bottom: 0 !important;
	margin-top: 0 !important;
	min-height: 32px !important;
	padding-top: 1px !important;
}

#urlbar * {
	color: #eee;
}

#urlbar:not(.megabar), #urlbar.megabar > #urlbar-background, #searchbar
{
	box-shadow: none !important;
}

#urlbar-container
{
	margin-right: -56px !important;
	transition: margin-right 350ms var(--animation-easing-function) 0.5s !important;
}
#navigator-toolbox > #nav-bar:hover #urlbar-container {
	margin-right: 0 !important;
	transition: margin-right 350ms var(--animation-easing-function) 0.1s !important;
}
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar #urlbar-container {
	margin-right: 0 !important;
	transition: margin-right 350ms var(--animation-easing-function) 0.5s !important;
}

#urlbar-background {
	display: none !important;
	margin-left: 2px !important;
}

#urlbar[open="true"] #urlbar-background {
	display: unset !important;
	background: #464646 !important;
	border-radius: 16px !important;
}

.search-panel-one-offs {
	border-radius: 16px !important;
}

/* NAVBAR: Highlight URL based on security */

.urlbar-input-box {
	border-radius: 16px !important;
	padding-left: 8px !important;
	margin-left: -8px !important;
	font-size: 13px !important;
	font-weight: light !important;
}

/* There is also grantedPermissions, but irrelevant. */

/* about:about */
#urlbar[pageproxystate='valid'] #identity-box.unknownIdentity + box + moz-input-box {
  color: var(--highlight-high);
}

/* https://mixed.badssl.com/ */
#urlbar[pageproxystate='valid'] #identity-box.mixedDisplayContent + box + moz-input-box{
  color: #ffcd42;
}

/* https://very.badssl.com/ */
#urlbar[pageproxystate='valid'] #identity-box.mixedDisplayContentLoadedActiveBlocked + box + moz-input-box {
  color: #ffcd42;
}

/* https://self-signed.badssl.com/ but add certificate exception */
#urlbar[pageproxystate='valid'] #identity-box.certUserOverridden + box + moz-input-box {
  color: #ffcd42;
}

/* Don't know an example for this */
#urlbar[pageproxystate='valid'] #identity-box.weakCipher + box + moz-input-box {
  color: #ffcd42;
}

/* https://mixed-script.badssl.com/ but disable protection */
#urlbar[pageproxystate='valid'] #identity-box.mixedActiveContent + box + moz-input-box {
  color: #ff554f;
}

/* http://http-login.badssl.com/ */
#urlbar[pageproxystate='valid'] #identity-box.insecureLoginForms + box + moz-input-box {
  color: #ff554f;
}

#urlbar[pageproxystate='valid'] #identity-box.notSecure + box + moz-input-box {
  color: #ff554f;
}

/* ------ */

:root:not([customizing]) #nav-bar toolbarbutton,
:root:not([customizing]) #nav-bar #star-button-box
{
	margin-right: -36px !important;
	opacity: 0 !important;
	transform: scale(0, 1) !important;
	pointer-events: none !important;
	transition: all 350ms var(--animation-easing-function) 0.5s,
		color 350ms var(--animation-easing-function) 0s,
		background 350ms var(--animation-easing-function) 0s !important;
}

:root:not([customizing]) #nav-bar #customizationui-widget-panel toolbarbutton {
	margin-right: unset !important;
	opacity: unset !important;
	transform: unset !important;
	pointer-events: unset !important;
	transition: unset !important;
	transition-delay: unset !important;
}

.webextension-browser-action:not(:hover):not(:active) stack image {
	filter: saturate(0%);
}

:root:not([customizing]) #nav-bar #nav-bar-overflow-button {
	margin-left: 58px !important;
	margin-right: -84px !important;
	-moz-box-ordinal-group: 0 !important;
}

:root:not([customizing]) #nav-bar toolbarbutton#back-button[disabled=true],
:root:not([customizing]) #nav-bar toolbarbutton#forward-button[disabled=true] {
	display: none;
}

:root:not([customizing]) #navigator-toolbox > #nav-bar #nav-bar-customization-target {
	margin-right: -100vw !important;
	min-width: 1000px !important;
	transition: all 350ms var(--animation-easing-function) !important;
	transition-delay: 0.5s !important;
}

:root:not([customizing]) #navigator-toolbox > #nav-bar:hover #nav-bar-customization-target,
:root:not([customizing]) :hover > #titlebar #nav-bar #nav-bar-customization-target
{
	margin-right: 0 !important;
	margin-left: 0 !important;
	transition-delay: 0.1s !important;
	min-width: 0px !important;
}
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar #nav-bar-customization-target{
	margin-right: 0 !important;
	margin-left: 0 !important;
	transition-delay: 0.5s !important;
	min-width: 0px !important;
}

#navigator-toolbox > #nav-bar:hover toolbarbutton,
#navigator-toolbox > #nav-bar:hover #nav-bar-overflow-button,
#navigator-toolbox > #nav-bar:hover #star-button-box,
:root:not([customizing]) :hover > #titlebar #nav-bar-overflow-button,
:root:not([customizing]) :hover > #titlebar #star-button-box {
	border-radius: 16px;
	transform: scale(1, 1) !important;
	opacity:1 !important;
	margin-right:0px !important;
	pointer-events: auto !important;
	transition: margin 350ms var(--animation-easing-function) 0.1s,
		opacity 350ms var(--animation-easing-function) 0.1s,
		width 350ms var(--animation-easing-function) 0.1s,
		padding 350ms var(--animation-easing-function) 0.1s,
		background 350ms var(--animation-easing-function) 0s,
		transform 350ms var(--animation-easing-function) 0.1s !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar toolbarbutton,
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar #nav-bar-overflow-button,
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar #star-button-box{
	border-radius: 16px;
	transform: scale(1, 1) !important;
	opacity:1 !important;
	margin-right:0px !important;
	pointer-events: auto !important;
	transition: margin 350ms var(--animation-easing-function) 0.5s,
		opacity 350ms var(--animation-easing-function) 0.5s,
		width 350ms var(--animation-easing-function) 0.5s,
		padding 350ms var(--animation-easing-function) 0.5s,
		background 350ms var(--animation-easing-function) 0s,
		transform 350ms var(--animation-easing-function) 0.5s !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

#navigator-toolbox > #nav-bar:hover #nav-bar-overflow-button,
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar #nav-bar-overflow-button,
:root:not([customizing]) :hover > #titlebar #nav-bar-overflow-button {
	margin-right: 8px !important;
	margin-left: 0 !important;
}
toolbarbutton#back-button,
toolbarbutton#forward-button,
toolbarbutton#bookmarks-menu-button {
	background: #505050;
}

toolbarbutton#reload-button,
toolbarbutton#stop-button {
	background: #585858;
}

#navigator-toolbox > #nav-bar:hover toolbarbutton#back-button,
:root:not([customizing]) :hover > #titlebar toolbarbutton#back-button,
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar toolbarbutton#back-button {
	border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	margin-right: -16px !important;
	padding-right: 16px !important;
}
#navigator-toolbox > #nav-bar:hover toolbarbutton#forward-button,
:root:not([customizing]) :hover > #titlebar toolbarbutton#forward-button,
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar toolbarbutton#forward-button {
	border-top-right-radius: 16px;
	border-bottom-right-radius: 16px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin-left: -16px !important;
	padding-left: 16px !important;
}
#stop-reload-button {
	position: relative !important;
	z-index: 5 !important;
}
#navigator-toolbox > #nav-bar:hover toolbarbutton#reload-button,
#navigator-toolbox > #nav-bar:hover toolbarbutton#stop-button,
:root:not([customizing]) :hover > #titlebar toolbarbutton#reload-button,
:root:not([customizing]) :hover > #titlebar toolbarbutton#stop-button,
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar toolbarbutton#reload-button,
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar toolbarbutton#stop-button {
	border-radius: 16px;
	box-shadow: 0 0 40px #00000080;
}

#navigator-toolbox > #nav-bar:hover toolbarbutton#bookmarks-menu-button,
:root:not([customizing]) :hover > #titlebar toolbarbutton#bookmarks-menu-button,
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar toolbarbutton#bookmarks-menu-button {
	border-top-right-radius: 16px;
	border-bottom-right-radius: 16px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin-left: -20px !important;
	padding-left: 16px !important;
}

#reload-button .toolbarbutton-icon,
#back-button .toolbarbutton-icon,
#forward-button .toolbarbutton-icon {
	padding-top: 6px !important;
}

.toolbarbutton-1 {
	--toolbarbutton-hover-background: transparent !important;
	--toolbarbutton-active-background: transparent !important;
}
toolbarbutton:hover{
	background: var(--highlight)  !important;
	fill: #303030 !important;
	box-shadow: 0 0 10px #00000040;
}
toolbarbutton:active{
	background: var(--highlight-low) !important;
	fill: #eee !important;
}

#navigator-toolbox > #nav-bar:hover toolbarbutton#bookmarks-menu-button,
:root:not([customizing]) :hover > #titlebar toolbarbutton#bookmarks-menu-button,
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar toolbarbutton#bookmarks-menu-button {
	margin-right: 8px !important;
}

panel toolbarbutton:hover,
popupset#mainPopupSet panel toolbarbutton:hover {
	border: none !important;
	background: var(--highlight)  !important;
	color: #303030 !important;
}

popupset#mainPopupSet panel toolbarbutton:hover label {
	color: #303030 !important;
}

.panel-arrow {
	display: none;
}

/* Remove padding above tabbar in compact mode */
#main-window[sizemode="normal"] > #titlebar {
	-moz-appearance: initial !important;
}

.toolbarbutton-icon, .toolbarbutton-badge-stack {
	border-radius: 0px !important;
	/* height: 30px !important; */
	max-height: 32px !important;
}

#identity-box, .urlbar-icon, #star-button-box {
	/* border-radius: 10px; */
	max-height: 30px;
	margin-top: 0px;
	padding-bottom: 0px !important;
}
#star-button-box {
	margin-top: -4px;
}

/* Move hamburger menu to the left */
#navigator-toolbox #PanelUI-button {
	-moz-box-ordinal-group: 0 !important;
	background: transparent !important;
	margin-right: 2px;
	transition: margin-right 350ms var(--animation-easing-function) 0.5s,
		background 350ms var(--animation-easing-function) 0.5s !important;
	border-radius: 0 16px 16px 0 !important;
	background: #585858 !important;
	box-shadow: 0 0 40px #00000080;
	position: relative !important;
	z-index: 5 !important;
}

#navigator-toolbox #PanelUI-button toolbarbutton:hover {
	border: none !important;
	background: var(--highlight) !important;
	color: #303030 !important;
	fill: #303030 !important;
}

#navigator-toolbox #PanelUI-button toolbarbutton:active {
	border: none !important;
	background: var(--highlight-low) !important;
}


:root:not([customizing]) #navigator-toolbox > #nav-bar #PanelUI-button toolbarbutton
{
	margin-left: 48px !important;
	margin-right: -44px !important;
	border-radius: 16px !important;
	transform: scale(0, 1) !important;
}

:root:not([customizing]) #navigator-toolbox > #nav-bar:hover #PanelUI-button toolbarbutton,
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar #PanelUI-button toolbarbutton {
	transform: scale(1, 1) !important;
	opacity: 1 !important;
	margin-right: 0px !important;
	padding-right: 8px !important;
	margin-left: -32px !important;
	padding-left: 32px !important;
}

#navigator-toolbox > #nav-bar:hover #PanelUI-button {
	margin-right: 8px;
	transition: margin-right 350ms var(--animation-easing-function) 0.1s,
		background 350ms var(--animation-easing-function) 0.1s !important;
}
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar #PanelUI-button {
	margin-right: 8px;
	transition: margin-right 350ms var(--animation-easing-function) 0.5s,
		background 350ms var(--animation-easing-function) 0.5s !important;
}

toolbox#navigator-toolbox toolbar#nav-bar.browser-toolbar toolbaritem#PanelUI-button toolbarbutton#whats-new-menu-button.toolbarbutton-1 {
	transform: scale(1, 1) !important;
	position: relative !important;
	z-index: 100 !important;
	background: #686868;
	box-shadow: 0 0 40px #00000080;
	opacity: 1 !important;
	border-bottom-left-radius: 0 !important;
	border-top-left-radius: 0 !important;
}

/*:root:not([customizing]) #navigator-toolbox > #nav-bar > #PanelUI-button > toolbarbutton,*/
#customization-panel-container,
#customization-panelWrapper .panel-arrow {
	margin-right: 4px !important;
	margin-left: 4px !important;
	/*opacity: 1 !important;*/
	transform: scale(1, 1) !important;
}

#appMenu-popup {
	margin-right: -258px !important;
}

#appMenu-popup .panel-arrow {
	margin-right: 248px !important;
}

/* More tools... button */
#nav-bar-overflow-button {
	transform: scale(0.9, 0.9) !important;
}

#stop-reload-button {
	transform: scale(1, 1) !important;
}

/* Tabs */
.tabbrowser-tab {
	height: 32px !important;
	text-shadow: none !important;
	color: #eee !important;
	border-top: none !important;
	transition: all 350ms var(--animation-easing-function) !important;
	padding: 0 !important;
}

.tabbrowser-tab[selected="true"] {
	transition: all 350ms var(--animation-easing-function) !important;
}
.tabbrowser-tab>.tab-stack>.tab-background[selected="true"] {
	border-radius: 16px !important;
}
.tabbrowser-tab:active>.tab-stack>.tab-background[selected="true"] {
	background-color: var(--highlight-low) !important;
	border-radius: 16px !important;
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.tabbrowser-tab:not([selected="true"]) {
	background-color: transparent !important;
	color: #c0c0c0 !important;
	border: none !important;
}

.tab-background {
	background-image: none !important;
	transition: all 350ms var(--animation-easing-function) !important;
	margin-block: unset !important;
}

.tabbrowser-tab[last-visible-tab="true"] {
	border-inline-end: none !important;
}
.tabbrowser-tab:hover>.tab-stack>.tab-background:not([selected="true"]) {
	border-radius: 16px !important;
	background-color: var(--highlight) !important;
}
.tabbrowser-tab:hover:not([selected="true"]){
	color: #303030 !important;
	z-index: 100;
}
.tabbrowser-tab:active {
	color: #eee!important;
}

.tabbrowser-tab:-moz-window-inactive {
	color: #a0a0a0 !important;
}

.tabbrowser-tab[multiselected]>.tab-stack>.tab-background {
	background-color: var(--highlight-low) !important;
	border-radius: 4px !important;
}

.tab-secondary-label {
	display: none !important;
}

.tabbrowser-tab[first-visible-tab="true"]>.tab-stack>.tab-background,
.tabbrowser-tab[first-visible-tab="true"]>.tab-stack>.tab-content {
	margin-left: -32px !important;
}
.tabbrowser-tab[first-visible-tab="true"]>.tab-stack>.tab-background,
.tabbrowser-tab[first-visible-tab="true"][pinned="true"]>.tab-stack>.tab-content,
.tabbrowser-tab[first-visible-tab="true"][selected="true"]>.tab-stack>.tab-content,
.tabbrowser-tab[first-visible-tab="true"]:not([pinned="true"]):not([selected="true"])>.tab-stack>.tab-content {
	padding-left: 64px !important;
}

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox >
.tabbrowser-tab[first-visible-unpinned-tab] {
	margin-inline-start: unset !important;
}

#TabsToolbar .tabbrowser-tab .tab-stack .tab-content {
	transition: none !important;
}

.tabbrowser-tab[selected="true"] + .tabbrowser-tab:hover>.tab-stack>.tab-content {
	border-radius: 16px !important;
	border-bottom-left-radius: 0 !important;
	border-bottom: 2px solid var(--highlight);
	padding-top: 1px !important;
}
.tabbrowser-tab[beforeselected-visible="true"]:hover>.tab-stack>.tab-content {
	border-radius: 16px !important;
	border-bottom-right-radius: 0 !important;
	border-bottom: 2px solid var(--highlight);
	padding-top: 1px !important;
}

/* Remove empty space before first tab
Delete this rule if you need a space to drag the window*/
#TabsToolbar .titlebar-spacer[type="pre-tabs"],
#TabsToolbar .titlebar-spacer[type="post-tabs"] {
	display: none !important;
}

/* New tab button color */
toolbox#navigator-toolbox #titlebar toolbar#TabsToolbar tabs#tabbrowser-tabs toolbarbutton#tabs-newtab-button {
	z-index: 101;
	transition: padding 350ms var(--animation-easing-function) 0s,
		margin 350ms var(--animation-easing-function) 0s,
		border-radius 350ms var(--animation-easing-function) 0s,
		background 350ms var(--animation-easing-function) 0s,
		background-color 350ms var(--animation-easing-function) 0s,
		color 350ms var(--animation-easing-function) 0s !important;
	padding-left: 2px !important;
	padding-right: 2px !important;
	margin-bottom: 0px !important;
	min-height: 32px !important;
}

toolbox#navigator-toolbox #titlebar toolbar#TabsToolbar tabs#tabbrowser-tabs toolbarbutton#tabs-newtab-button .toolbarbutton-icon {
	padding-top: 8px !important;
	padding-bottom: 8px !important;
}

toolbox#navigator-toolbox #titlebar toolbar#TabsToolbar tabs#tabbrowser-tabs toolbarbutton#tabs-newtab-button:hover {
	border: none !important;
	fill: #303030 !important;
	background-color: var(--highlight) !important;
	border-radius: 16px !important;
	border-bottom-left-radius: 0 !important;
	padding-left: 24px !important;
	box-shadow: 0 10px 20px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
}

toolbox#navigator-toolbox #titlebar toolbar#TabsToolbar tabs#tabbrowser-tabs toolbarbutton#tabs-newtab-button:active {
	background-color: var(--highlight-low) !important;
	fill: #c0c0c0 !important;
}

/* Tab wanting attention */
.tabbrowser-tab:-moz-any([image], [pinned]) > .tab-stack > .tab-content[attention]:not([selected="true"]), .tabbrowser-tab > .tab-stack > .tab-content[pinned][titlechanged]:not([selected="true"]) {
	background-image: radial-gradient(at 50% 100%, var(--highlight) 0%, #e4474200 50%) !important;
	background-repeat: no-repeat !important;
	background-position: bottom !important;
	background-size: 100% 4px !important;
}

/* tab line - adjust color & size, default #0a84ff 2px */
.tab-line {
	display: none !important;
}

/* ###############################################################################################*/
/* TAB ANIMATION: LOADING PROGRESS LINE INDICATOR */
/* ###############################################################################################*/

toolbox#navigator-toolbox toolbar#TabsToolbar tabs#tabbrowser-tabs tab.tabbrowser-tab:not([selected="true"]) .tab-loading-burst,
toolbox#navigator-toolbox toolbar#TabsToolbar tabs#tabbrowser-tabs tab.tabbrowser-tab[selected="true"] .tab-loading-burst {
	border-radius: 16px !important;
	height: 100%;
	background-image: linear-gradient(0deg, #e4474200, var(--highlight)) !important;
	background-repeat: no-repeat !important;
	background-position-y: bottom !important;
	background-size: 0% 2px !important;
	transition: background-size 0.2s ease-out,
		border-radius, 0.2s ease-out,
		height 0.2s linear !important;
}

toolbox#navigator-toolbox toolbar#TabsToolbar tabs#tabbrowser-tabs tab.tabbrowser-tab:not([busy]):not([selected="true"])
	.tab-loading-burst{
	background-image: linear-gradient(0deg, var(--highlight), var(--highlight)) !important;
	background-size: 100% 0px !important;
}
toolbox#navigator-toolbox toolbar#TabsToolbar tabs#tabbrowser-tabs tab.tabbrowser-tab[selected="true"]:not([busy]) .tab-loading-burst{
	background-image: linear-gradient(0deg, var(--highlight), var(--highlight)) !important;
	background-size: 100% 2px !important;
	border-radius: 0px !important;
}

toolbox#navigator-toolbox toolbar#TabsToolbar tabs#tabbrowser-tabs tab.tabbrowser-tab[busy]:not([selected="true"]) .tab-loading-burst {
	background-size: 100% 0% !important;
	background-image: linear-gradient(180deg, var(--highlight), var(--highlight)) !important;
	height: 100%;
	border-radius: 16px !important;
}
toolbox#navigator-toolbox toolbar#TabsToolbar tabs#tabbrowser-tabs tab.tabbrowser-tab[busy][selected="true"] .tab-loading-burst {
	background-size: 100% 2px !important;
	background-image: linear-gradient(0deg, var(--highlight), var(--highlight)) !important;
	height: 100%;
	border-radius: 0 !important;
}

toolbox#navigator-toolbox toolbar#TabsToolbar tabs#tabbrowser-tabs tab.tabbrowser-tab[busy][progress]:not([selected="true"]) .tab-loading-burst {
	background-size: 100% 100% !important;
	height: 0px;
	border-radius: 16px !important;
}
toolbox#navigator-toolbox toolbar#TabsToolbar tabs#tabbrowser-tabs tab.tabbrowser-tab[busy][progress][selected="true"] .tab-loading-burst {
	background-size: 100% 100% !important;
	height: 2px;
	border-radius: 16px !important;
}

toolbox#navigator-toolbox toolbar#TabsToolbar tabs#tabbrowser-tabs tab.tabbrowser-tab[bursting]:not([selected="true"]) .tab-loading-burst,
toolbox#navigator-toolbox toolbar#TabsToolbar tabs#tabbrowser-tabs tab.tabbrowser-tab[bursting][selected="true"] .tab-loading-burst {
	opacity: 1 !important;
	background-size: 100% 100% !important;
	border-radius: 16px !important;
}
.tab-throbber::before {
	fill: #ffffff !important;
	opacity: 1 !important;
}

toolbox#navigator-toolbox toolbar#TabsToolbar tabs#tabbrowser-tabs tab.tabbrowser-tab[first-visible-tab="true"] .tab-loading-burst {
	margin-left: -32px !important;
}

.tabbrowser-tab .tab-close-button {
	display: none !important;
	border-radius: 8px !important;
  margin-left: -4.5px !important;
  margin-right: 2px !important;
}

.tabbrowser-tab[selected="true"]:not([pinned]):hover .tab-icon-image {
  display: none !important;
}
.tabbrowser-tab[selected="true"]:not([pinned]):hover .tab-throbber {
	display: none !important;
}
.tabbrowser-tab[selected="true"]:not([pinned]):hover .tab-close-button {
	display: -moz-box !important;
	position: relative;
}
.tabbrowser-tab:hover .tab-icon-image,
.tabbrowser-tab:hover .tab-sharing-icon-overlay,
.tabbrowser-tab:hover .tab-icon-overlay,
.tabbrowser-tab:hover .tab-label-container,
.tabbrowser-tab:hover .tab-icon-sound {
   -moz-box-ordinal-group: 2 !important;
}

/* Hide various elements */
#overflowMenu-customize-button {
	display: none !important;
}

/* URL Bar */
#pageActionButton,
#pocket-button-box,
ar-button,
.autocomplete-history-dropmarker,
#identity-icon-labels
{
	display: none !important;
}

#page-action-buttons {
	margin-right: -32px !important;
	transition: margin-right 350ms var(--animation-easing-function) !important;
	transition-delay: 0.5s !important;
}
#navigator-toolbox > #nav-bar:hover #page-action-buttons,
:root:not([customizing]) :hover > #titlebar #page-action-buttons {
	margin-right: 0px !important;
	transition-delay: 0.1s !important;
}
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar #page-action-buttons {
	margin-right: 0px !important;
	transition-delay: 0.5s !important;
}

/* Remove all tabs button */
#alltabs-button {
	display: none !important;
}

/* Makes popups, menus and context menus dark */

menupopup, panel {
	--panel-border-color: unset !important;
}

.panel-arrowcontent,
#alltabs-popup .arrowscrollbox-scrollbox,
menupopup:not(#BMB_bookmarksPopup),
.textbox-contextmenu{
	border: none !important;
	background: #363636 !important;
	color: #eee !important;
	padding: 6px !important;
	border-radius: 6px !important;
}

/* bookmarks menu is different from others */
#BMB_bookmarksPopup{
	background-color: unset !important;
	--panel-background: unset !important;
	--panel-border-color: unset !important;
	--panel-padding: unset !important;
	padding: 0 !important;
}

/* ============== */
/* "Personal bar" */
/* ============== */
#PersonalToolbar {
	top: 32px !important;
	left: 0 !important;
	position: absolute !important;
	display: flex !important;
	height: 2px !important;
	min-height: 0px !important;
	border-radius: 9px !important;
	background-color: transparent !important;
	min-width: 20vw !important;
	transition: all 350ms var(--animation-easing-function) !important;
	transition-delay: 0.5s !important;
	margin-top: -1px !important;
	padding-inline: 0 !important;
	z-index: 1001 !important;
}

:root[customizing] #PersonalToolbar,
#PersonalToolbar:hover,
#nav-bar:hover + #PersonalToolbar {
	top: 40px !important;
	left: 6px !important;
	height: 36px !important;
	box-shadow: 0 10px 20px rgba(0,0,0,0.18), 0 3px 6px rgba(0,0,0,0.12) !important;
	transition-delay: 0.2s !important;
	background-color: #363636 !important;
	min-width: 16px !important;
	margin-top: 0 !important;
	z-index: 0 !important;
}

#PersonalToolbar toolbarbutton {
	padding: 0px 16px 0px 16px !important;
	transition: background 350ms var(--animation-easing-function) !important;
}
#PersonalToolbar:hover toolbarbutton,
#nav-bar:hover + #PersonalToolbar toolbarbutton {
	border-radius: 8px !important;
	transition: background 350ms var(--animation-easing-function) !important;
}
#PersonalToolbar toolbarbutton .toolbarbutton-badge-stack {
	opacity: 0 !important;
	transition: opacity 350ms var(--animation-easing-function) 0.5s;
}
:root[customizing] #PersonalToolbar toolbarbutton .toolbarbutton-badge-stack,
#PersonalToolbar:hover toolbarbutton .toolbarbutton-badge-stack,
#nav-bar:hover + #PersonalToolbar toolbarbutton .toolbarbutton-badge-stack {
	opacity: 1 !important;
	transition: opacity 350ms var(--animation-easing-function) 0.2s;
}

/* Download throbber */
@keyframes anim-download {
    0%{background-position:0% 0%}
    50%{background-position:100% 0%}
    100%{background-position:0% 0%}
}
#PersonalToolbar #downloads-button::after {
	content:"";
	position: absolute;
	left: 0;
	top: 0;
	border-bottom-right-radius: 2px;
	height: 100%;
	width: calc(20vw - 10px);
	opacity: 1;
	transition: opacity 350ms var(--animation-easing-function) 0.5s,
		width 350ms var(--animation-easing-function) 0.5s,
		height 350ms var(--animation-easing-function) 0.5s,
		background-size 350ms var(--animation-easing-function) 0.5s;
}
#PersonalToolbar #downloads-button[progress]::after {
	background: linear-gradient(90deg, transparent, var(--highlight), transparent);
	background-size: 200% 100%;
   animation: anim-download 2s ease infinite;
}
#PersonalToolbar #downloads-button[attention="success"]::after {
	background: linear-gradient(90deg, var(--highlight) 0 75%, transparent);
	background-size: 100% 100%;
   animation: unset;
}
#PersonalToolbar:hover #downloads-button::after,
#nav-bar:hover + #PersonalToolbar #downloads-button::after {
	background-size: 100% 100%;
	opacity: 0;
	transition: opacity 2000ms var(--animation-easing-function) 0.2s,
		width 350ms var(--animation-easing-function) 0.2s,
		height 2000ms var(--animation-easing-function) 0.2s,
		background-size 350ms var(--animation-easing-function) 0.2s;
	width: 48px;
	border-radius: 2px;
}
#downloads-button[progress] #downloads-indicator-icon,
#downloads-button[progress] #downloads-indicator-progress-outer,
#downloads-button[progress] #downloads-indicator-progress-inner,
#downloads-button[attention="success"] #downloads-indicator-icon,
#downloads-button[attention="success"] #downloads-indicator-progress-outer,
#downloads-button[attention="success"] #downloads-indicator-progress-inner {
	fill: var(--highlight) !important;
	--toolbarbutton-icon-fill-attention: var(--highlight) !important;
}
#PersonalToolbar:hover #downloads-button[attention="success"]:hover #downloads-indicator-icon,
#PersonalToolbar:hover #downloads-button[attention="success"]:hover #downloads-indicator-progress-outer,
#PersonalToolbar:hover #downloads-button[attention="success"]:hover #downloads-indicator-progress-inner,
#PersonalToolbar:hover #downloads-button[progress]:hover #downloads-indicator-icon,
#PersonalToolbar:hover #downloads-button[progress]:hover #downloads-indicator-progress-outer,
#PersonalToolbar:hover #downloads-button[progress]:hover #downloads-indicator-progress-inner {
	fill: #ffffff !important;
	--toolbarbutton-icon-fill-attention: #ffffff !important;
}

/* Notification bar */
#tab-notification-deck {
	position: relative;
	z-index: -1;
}

.notificationbox-stack {
	background-color: transparent !important;
}

.container.infobar {
	background: #424242 !important;
}

/* customization */
#customization-header {
	margin-top: 64px !important;
}

/* GENERAL */
menupopup,
menuitem,
menu{
	-moz-appearance: none !important;
}

menupopup{
	background-color:#363636 !important;
	border:none;
}

menuitem,
menu{
	min-height:24px !important;
	color: #eee !important;
	border-radius: 4px !important;
	padding: 6px !important;
}

menuitem[disabled="true"],
menu[disabled="true"]{
	color: #888 !important;
}

menuitem:hover:not([disabled="true"]),
menu:hover:not([disabled="true"]){
	background-color: var(--highlight) !important;
	color: #ffffff !important;
}

menuitem[disabled="true"]:hover,
menu[disabled="true"]:hover{
	background-color: transparent !important;
}

menupopup menuseparator {
	-moz-appearance: none !important;
	background-color: #2c2c2c !important;
	color: #2c2c2c !important;
	border: none !important;
	min-height: 1px !important;
	max-height: 1px !important;
	height: 1px !important;
	margin: 3px 0px 3px 0px !important;
}

.menu-right{ filter: invert(100%) }
#context-navigation{ background-color: transparent !important; }

/* POPUP PANELS */

.panel-subviews,
#mainPopupSet menupopup,
#main-menubar menupopup,
#bookmarks-menu-button menu menupopup > hbox,
.search-panel-header.search-panel-current-engine,
.search-panel-current-input,
panelview,
.PanelUI-subView,
.autocomplete-richlistbox{
	background-color:  #363636 !important;
	/* border-radius: 10px !important; */
}

.subviewbutton:hover,
/* #widget-overflow-mainView .toolbarbutton-1:hover, */
#PopupAutoCompleteRichResult .autocomplete-richlistitem:hover,
#PopupSearchAutoComplete .autocomplete-richlistitem:hover{
	background-color: var(--highlight) !important;
	color: #ffffff !important;
}


panelview toolbarbutton.subviewbutton .toolbarbutton-text,
#downloadsFooter,
#customizationui-widget-panel label,
.autocomplete-richlistitem .ac-title,
#widget-overflow-mainView toolbarbutton,
#bookmarks-menu-button menu menupopup,
#PopupSearchAutoComplete .autocomplete-tree.plain.search-panel-tree,
#PanelUI-contents toolbarbutton,
#sidebar-switcher-target,
#alltabs_containersTab,
#PopupAutoCompleteRichResult .ac-title,
#PopupAutoCompleteRichResult .search-one-offs,
.search-panel-input-value{
	color: #eee!important;
}

#alltabs-popup,
#alltabs_containersMenuTab{
	border: none !important;
	/* border-radius: 10px !important; */
}

.search-panel-one-offs,
.downloadsPanelFooterButton:not(:hover),
#overflowMenu-customize-button:not(:hover),
#searchbar-anon-search-settings{
	background-color: #404040!important;
}

#PopupAutoCompleteRichResult .ac-emphasize-text.ac-emphasize-text-title{
	color: #363636 !important;
}
